<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LactoBioticsSystem.Properties.Settings.LactoBioticsConnectionString"
            connectionString="Data Source=LAPTOP-EFV0F9NE\CEJASEARL;Initial Catalog=LactoBiotics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.LactoBioticsssConnectionString"
            connectionString="Data Source=LAPTOP-EFV0F9NE\CEJASEARL;Initial Catalog=LactoBioticsss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.LactoConnectionString"
            connectionString="Data Source=LAPTOP-EFV0F9NE\CEJASEARL;Initial Catalog=Lacto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.LactoBioticssConnectionString"
            connectionString="Data Source=LAPTOP-EFV0F9NE\CEJASEARL;Initial Catalog=LactoBioticss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.LactoBioticsConnectionString1"
            connectionString="Data Source=LAPTOP-EFV0F9NE\cejasearl;Initial Catalog=LactoBiotics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.CJLSFOODSPAYROLLConnectionString"
            connectionString="Data Source=NEIL\SQLEXPRESS;Initial Catalog=CJLSFOODSPAYROLL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LactoBioticsSystem.Properties.Settings.LactoBioticsssConnectionString1"
            connectionString="Data Source=NEIL\SQLEXPRESS;Initial Catalog=LactoBioticsss;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>